<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Vista de Receta</title>
		<link href="../output.css" rel="stylesheet" />
	</head>
	<body class="bg-gray-200">
		<nav
			class="bg-white px-3 py-5 md:flex md:justify-around md:bg-negro-sazon md:py-8 fixed w-full top-0 z-10">
			<section
				class="flex justify-between mb-4 md:mb-0">
				<img
					src="/src/resources/logo_oficial.svg"
					alt=""
					class="w-28 md:w-36 cursor-pointer" />

				<button class="md:hidden acordeon">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-6 h-6 text-amarillo-sazon-900">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
					</svg>
				</button>
			</section>

			<div class="hidden md:block ocultar">
				<section
					class="flex flex-col w-full gap-1 capitalize text-negro-sazon md:flex-row md:items-center md:justify-center md:text-amarillo-sazon md:w-auto">
					<a
						href="../index.html"
						class="bg-gray-50 p-2 md:bg-transparent md:hover:opacity-90">
						inicio
					</a>

					<a
						href="../index.html"
						class="bg-gray-50 p-2 md:bg-transparent md:hover:opacity-90">
						recetas
					</a>
					<a
						href="../Interfaces/RecipeInterface.html"
						class="bg-gray-50 p-2 md:bg-transparent md:hover:opacity-90">
						categorias
					</a>
					<a
						href="../components/recipe_register.html"
						class="bg-gray-50 p-2 md:bg-transparent md:hover:opacity-90">
						Crear receta
					</a>
				</section>
			</div>

			<div class="hidden md:block ocultar">
				<section
					class="flex flex-col gap-1 mt-4 text-center capitalize text-negro-sazon md:flex-row md:gap-3 md:mt-0">
					<a
						href="../components/Log_In.html"
						class="bg-amarillo-sazon p-2 hover:opacity-90 rounded">
						iniciar sesión
					</a>
					<a
						href="../components/register.html"
						class="bg-amarillo-sazon p-2 hover:opacity-90 rounded">
						registrarse
					</a>
				</section>
			</div>
		</nav>

		<div class="mx-8 sm:mx-40 mt-36">
			<div
				class="pt-2 flex flex-col items-center justify-center">
				<p
					class="m-3 text-md sm:text-xl border-b-2 border-solid border-amarillo-sazon-2">
					Carne Guisada
				</p>

				<div class="w-auto">
					<img
						class="rounded-md w-96 h-72 mt-3"
						src="../img/Carne guisada.jpg"
						alt="Imagen 1" />

					<div
						class="text-md text-gris-sazon border border-amarillo-sazon-2 bg-white rounded-md mt-5 flex flex-col items-center justify-center">
						<p>
							Categoria:
							<span
								>Almuerzo</span
							>
						</p>
						<p>
							Tiempo:
							<span
								>20</span
							>
							min
						</p>
						<p>
							Nivel:
							<span
								>Intermedio</span
							>
						</p>
					</div>
				</div>
			</div>
			<div class="mt-8 shadow-lg">
				<div
					class="pt-2 pb-32 px-10 flex flex-col items-center justify-start rounded-t-2xl border-b-60 sm:pb-8 border-amarillo-sazon-2 bg-amarillo-sazon">
					<h1 class="m-3 text-md">
						Ingredientes
					</h1>
					<p>
						Lorem ipsum dolor
						sit amet,
						consectetur
						adipisicing elit.
						Commodi beatae,
						fugiat in ea
						dignissimos
						praesentium pariatur
						facere. Officia,
						praesentium fugiat
						quis velit minus
						deserunt aliquam hic
						error! Quod,
						consequuntur
						quibusdam.
					</p>
				</div>

				<div
					class="pt-2 pb-32 px-10 flex flex-col items-center justify-center border-b-1 border-x-1 border-amarillo-sazon">
					<h1 class="m-3 text-md">
						Preparación
					</h1>
					<p>
						Lorem ipsum, dolor
						sit amet consectetur
						adipisicing elit.
						Corporis minima
						alias velit, nisi
						cumque eaque
						inventore odio unde
						sit adipisci ex
						distinctio aliquam
						asperiores soluta
						est voluptatem
						quidem, aliquid
						numquam Lorem ipsum
						dolor sit, amet
						consectetur
						adipisicing elit.
						Maiores, asperiores
						vel? Itaque vero
						odit mollitia natus
						possimus
						exercitationem
						aliquam cupiditate!
						Sed dolores impedit
						iure deleniti,
						corrupti ducimus
						voluptates nisi
						officia? Lorem
						ipsum, dolor sit
						amet consectetur
						adipisicing elit.
						Sit odio earum
						veniam consequuntur
						alias necessitatibus
						provident amet,
						libero vero, unde ab
						nostrum saepe
						incidunt optio
						soluta magnam
						nesciunt temporibus
						facilis. Lorem
						ipsum, dolor sit
						amet consectetur
						adipisicing elit.
						Quasi perspiciatis
						voluptates expedita,
						doloremque facere
						suscipit dolorem, id
						minus iste eveniet
						officia illum sit
						labore sapiente
						libero, delectus
						nostrum deserunt.
						Obcaecati. Lorem
						ipsum dolor sit amet
						consectetur
						adipisicing elit.
						Dolorum explicabo
						autem aperiam,
						ratione aut atque
						quaerat fugiat ut
						praesentium
						perspiciatis,
						tempora molestiae
						illo expedita
						cupiditate. Vel,
						officiis fugiat?
						Minima, repudiandae.
						Lorem ipsum dolor,
						sit amet consectetur
						adipisicing elit.
						Vel nostrum,
						nesciunt iste sit
						quos eos odio.
						Sapiente veniam
						optio amet, dolorum
						rerum ab hic labore
						inventore beatae,
						quidem quibusdam
						qui? Lorem ipsum
						dolor sit, amet
						consectetur
						adipisicing elit.
						Maiores, asperiores
						vel? Itaque vero
						odit mollitia natus
						possimus
						exercitationem
						aliquam cupiditate!
						Sed dolores impedit
						iure deleniti,
						corrupti ducimus
						voluptates nisi
						officia? Lorem
						ipsum, dolor sit
						amet consectetur
						adipisicing elit.
						Sit odio earum
						veniam consequuntur
						alias necessitatibus
						provident amet,
						libero vero, unde ab
						nostrum saepe
						incidunt optio
						soluta magnam
						nesciunt temporibus
						facilis. Lorem
						ipsum, dolor sit
						amet consectetur
						adipisicing elit.
						Quasi perspiciatis
						voluptates expedita,
						doloremque facere
						suscipit dolorem, id
						minus iste eveniet
						officia illum sit
						labore sapiente
						libero, delectus
						nostrum deserunt.
						Obcaecati. Lorem
						ipsum dolor sit amet
						consectetur
						adipisicing elit.
						Dolorum explicabo
						autem aperiam,
						ratione aut atque
						quaerat fugiat ut
						praesentium
						perspiciatis,
						tempora molestiae
						illo expedita
						cupiditate. Vel,
						officiis fugiat?
						Minima, repudiandae.
						Lorem ipsum dolor,
						sit amet consectetur
						adipisicing elit.
						Vel nostrum,
						nesciunt iste sit
						quos eos odio.
						Sapiente veniam
						optio amet, dolorum
						rerum ab hic labore
						inventore beatae,
						quidem quibusdam
						qui? Lorem ipsum
						dolor sit, amet
						consectetur
						adipisicing elit.
						Maiores, asperiores
						vel? Itaque vero
						odit mollitia natus
						possimus
						exercitationem
						aliquam cupiditate!
						Sed dolores impedit
						iure deleniti,
						corrupti ducimus
						voluptates nisi
						officia?
					</p>
				</div>
			</div>

			<div
				class="mt-4 py-6 px-6 flex flex-col items-center justify-around rounded-2xl border border-amarillo-sazon-2 shadow-lg">
				<div
					class="flex justify-between w-full">
					<p>
						Autor:
						<span
							>JhonnyArevalo33</span
						>
					</p>
					<img
						src="../resources/star.svg"
						alt=""
						class="w-5 cursor-pointer" />
				</div>

				<div
					class="flex mt-4 justify-between w-full">
					<span class="text-[11px]"
						>16/02/2024</span
					>

					<div class="flex">
						<img
							class="w-4"
							src="../resources/comment.svg"
							alt="logo-comentarios" />
						<p
							class="text-[11px]">
							<span
								>10</span
							>
							comentarios
						</p>
					</div>
				</div>
			</div>

			<div
				class="relative mt-12 flex items-center justify-center">
				∂
				<h1
					class="text-xl relative z-10 bg-gray-100 px-6">
					Recetas Relacionadas
				</h1>
				<div
					class="absolute w-full h-0.5 bg-amarillo-sazon-2"></div>
			</div>

			<div
				class="my-4 py-4 px-10 grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 justify-between">
				<div
					class="bg-white shadow-md rounded-md">
					<!-- Imagen de la receta -->
					<img
						src="https://images.pexels.com/photos/12557543/pexels-photo-12557543.jpeg"
						class="w-full rounded-t-md h-44" />

					<!-- Contenido de la receta -->
					<div class="m-5">
						<!-- Título de la receta -->
						<div
							class="flex justify-between">
							<h2
								class="font-medium text-gris-sazon">
								Pasta
								a
								la
								carbonara
							</h2>

							<!-- Icono de estrella (comentado) -->

							<img
								src="../resources/star.svg"
								alt=""
								class="w-5 cursor-pointer" />
						</div>

						<div
							class="flex justify-between items-center mb-1 mt-1">
							<div
								class="flex gap-1 text-gray-400">
								<img
									class="w-4"
									src="../resources/clock.svg"
									alt="" />
								<span
									class="text-[11px]"
									>16/02/2024</span
								>
							</div>

							<div
								class="flex gap-1 text-gray-400 cursor-pointer hover:opacity-80">
								<img
									class="w-4"
									src="../resources/comment.svg"
									alt="" />
								<span
									class="text-[11px]"
									>5
									comentarios</span
								>
							</div>
						</div>

						<!-- Contenedor del texto con altura máxima -->
						<div
							class="h-28 overflow-hidden py-2">
							<!-- Descripción de la receta -->
							<p
								class="text-[12px] text-gris-sazon">
								Lorem,
								ipsum
								dolor
								sit
								amet
								consectetur
								adipisicing
								elit.
								Doloribus
								doloremque
								quisquam
								ipsa.
								Deserunt,
								atque
								omnis
								maiores
								ut,
								voluptates
								veniam
								sequi
								magnam
								nisi
								saepe
								cumque
								neque
								praesentium
								labore
								Lorem
								ipsum
								dolor
								sit,
								amet
								consectetur
								adipisicing
								elit.
								Placeat
								vero
								doloribus
								dolorum,
								debitis
								error
								fugit
								nisi
								eos
								cupiditate
								amet
								praesentium
								ipsa
								rem
								ex
								dolor
								nobis!
								Hic
								iste
								incidunt
								magnam
								deleniti.
								Lorem
								ipsum
								dolor
								sit
								amet
								consectetur,
								adipisicing
								elit.
								Id
								iusto
								facere,
								quasi
								optio
								in
								consectetur
								atque
								dolor,
								ad
								corrupti
								sunt
								rerum
								soluta
								at
								impedit
								ipsum
								blanditiis
								quod
								expedita
								molestiae
								quidem.
								Lorem
								ipsum
								dolor
								sit
								amet,
								consectetur
								adipisicing
								elit.
								Quae
								cupiditate
								sunt
								expedita
								fuga
								magni
								sint
								velit
								quia
								tempore
								unde
								perferendis
								vitae
								aliquam,
								corrupti
								nisi
								odit
								laudantium
								facilis
								delectus
								officiis
								quis.
							</p>
						</div>

						<!-- Botón para ver la receta -->
						<button
							class="bg-gray-100 p-3 mt-4 text-negro-sazon w-full hover:bg-amarillo-sazon hover:font-medium transition-colors text-xs uppercase rounded-sm">
							continuar
							leyendo
						</button>
					</div>
				</div>

				<div
					class="bg-white shadow-md rounded-md">
					<!-- Imagen de la receta -->
					<img
						src="../img/chicha.jpg"
						class="w-full rounded-t-md h-44" />

					<!-- Contenido de la receta -->
					<div class="m-5">
						<!-- Título de la receta -->
						<div
							class="flex justify-between">
							<h2
								class="font-medium text-gris-sazon">
								Pasta
								a
								la
								carbonara
							</h2>

							<!-- Icono de estrella (comentado) -->

							<img
								src="../resources/star.svg"
								alt=""
								class="w-5 cursor-pointer" />
						</div>

						<div
							class="flex justify-between items-center mb-1 mt-1">
							<div
								class="flex gap-1 text-gray-400">
								<img
									class="w-4"
									src="../resources/clock.svg"
									alt="" />
								<span
									class="text-[11px]"
									>16/02/2024</span
								>
							</div>

							<div
								class="flex gap-1 text-gray-400 cursor-pointer hover:opacity-80">
								<img
									class="w-4"
									src="../resources/comment.svg"
									alt="" />
								<span
									class="text-[11px]"
									>5
									comentarios</span
								>
							</div>
						</div>

						<!-- Contenedor del texto con altura máxima -->
						<div
							class="h-28 overflow-hidden py-2">
							<!-- Descripción de la receta -->
							<p
								class="text-[12px] text-gris-sazon">
								Lorem,
								ipsum
								dolor
								sit
								amet
								consectetur
								adipisicing
								elit.
								Doloribus
								doloremque
								quisquam
								ipsa.
								Deserunt,
								atque
								omnis
								maiores
								ut,
								voluptates
								veniam
								sequi
								magnam
								nisi
								saepe
								cumque
								neque
								praesentium
								labore
								Lorem
								ipsum
								dolor
								sit,
								amet
								consectetur
								adipisicing
								elit.
								Placeat
								vero
								doloribus
								dolorum,
								debitis
								error
								fugit
								nisi
								eos
								cupiditate
								amet
								praesentium
								ipsa
								rem
								ex
								dolor
								nobis!
								Hic
								iste
								incidunt
								magnam
								deleniti.
								Lorem
								ipsum
								dolor
								sit
								amet
								consectetur,
								adipisicing
								elit.
								Id
								iusto
								facere,
								quasi
								optio
								in
								consectetur
								atque
								dolor,
								ad
								corrupti
								sunt
								rerum
								soluta
								at
								impedit
								ipsum
								blanditiis
								quod
								expedita
								molestiae
								quidem.
								Lorem
								ipsum
								dolor
								sit
								amet,
								consectetur
								adipisicing
								elit.
								Quae
								cupiditate
								sunt
								expedita
								fuga
								magni
								sint
								velit
								quia
								tempore
								unde
								perferendis
								vitae
								aliquam,
								corrupti
								nisi
								odit
								laudantium
								facilis
								delectus
								officiis
								quis.
							</p>
						</div>

						<!-- Botón para ver la receta -->
						<button
							class="bg-gray-100 p-3 mt-4 text-negro-sazon w-full hover:bg-amarillo-sazon hover:font-medium transition-colors text-xs uppercase rounded-sm">
							continuar
							leyendo
						</button>
					</div>
				</div>

				<div
					class="bg-white shadow-md rounded-md">
					<!-- Imagen de la receta -->
					<img
						src="../img/Carne guisada.jpg"
						class="w-full rounded-t-md h-44" />

					<!-- Contenido de la receta -->
					<div class="m-5">
						<!-- Título de la receta -->
						<div
							class="flex justify-between">
							<h2
								class="font-medium text-gris-sazon">
								Pasta
								a
								la
								carbonara
							</h2>

							<!-- Icono de estrella (comentado) -->

							<img
								src="../resources/star.svg"
								alt=""
								class="w-5 cursor-pointer" />
						</div>

						<div
							class="flex justify-between items-center mb-1 mt-1">
							<div
								class="flex gap-1 text-gray-400">
								<img
									class="w-4"
									src="../resources/clock.svg"
									alt="" />
								<span
									class="text-[11px]"
									>16/02/2024</span
								>
							</div>

							<div
								class="flex gap-1 text-gray-400 cursor-pointer hover:opacity-80">
								<img
									class="w-4"
									src="../resources/comment.svg"
									alt="" />
								<span
									class="text-[11px]"
									>5
									comentarios</span
								>
							</div>
						</div>

						<!-- Contenedor del texto con altura máxima -->
						<div
							class="h-28 overflow-hidden py-2">
							<!-- Descripción de la receta -->
							<p
								class="text-[12px] text-gris-sazon">
								Lorem,
								ipsum
								dolor
								sit
								amet
								consectetur
								adipisicing
								elit.
								Doloribus
								doloremque
								quisquam
								ipsa.
								Deserunt,
								atque
								omnis
								maiores
								ut,
								voluptates
								veniam
								sequi
								magnam
								nisi
								saepe
								cumque
								neque
								praesentium
								labore
								Lorem
								ipsum
								dolor
								sit,
								amet
								consectetur
								adipisicing
								elit.
								Placeat
								vero
								doloribus
								dolorum,
								debitis
								error
								fugit
								nisi
								eos
								cupiditate
								amet
								praesentium
								ipsa
								rem
								ex
								dolor
								nobis!
								Hic
								iste
								incidunt
								magnam
								deleniti.
								Lorem
								ipsum
								dolor
								sit
								amet
								consectetur,
								adipisicing
								elit.
								Id
								iusto
								facere,
								quasi
								optio
								in
								consectetur
								atque
								dolor,
								ad
								corrupti
								sunt
								rerum
								soluta
								at
								impedit
								ipsum
								blanditiis
								quod
								expedita
								molestiae
								quidem.
								Lorem
								ipsum
								dolor
								sit
								amet,
								consectetur
								adipisicing
								elit.
								Quae
								cupiditate
								sunt
								expedita
								fuga
								magni
								sint
								velit
								quia
								tempore
								unde
								perferendis
								vitae
								aliquam,
								corrupti
								nisi
								odit
								laudantium
								facilis
								delectus
								officiis
								quis.
							</p>
						</div>

						<!-- Botón para ver la receta -->
						<button
							class="bg-gray-100 p-3 mt-4 text-negro-sazon w-full hover:bg-amarillo-sazon hover:font-medium transition-colors text-xs uppercase rounded-sm">
							continuar
							leyendo
						</button>
					</div>
				</div>
			</div>
		</div>
		<footer class="bg-amarillo-sazon">
			<!-- Contenedor para contacto y redes sociales -->
			<div class="flex-row justify-around px-4 md:flex">
				<div
					class="flex justify-center ml-5 cursor-pointer pt-10 pb-10">
					<img
						src="/src/resources/logo_oficial_negro.svg"
						alt=""
						class="w-36 md:w-40 cursor-pointer" />
				</div>
				<!-- Contenedor contacto -->
				<div
					class="flex-col text-center content-around py-5 border-t border-white md:border-none">
					<h1 class="text-xl mb-3">
						Contactenos
					</h1>
					<div
						class="flex gap-2 justify-center">
						<a
							href="mailto:sazondebueno@gmail.com"
							class="text-gray-500 hover:text-black hover:border-b-2 border-amarillo-sazon"
							>sazondebueno@gmail.com</a
						>
					</div>
				</div>
				<!-- Contenedor redes sociales -->
				<div
					class="flex-col text-center justify-center items-center py-5">
					<h1 class="text-xl mb-3">
						Nuestras redes
					</h1>
					<div
						class="flex gap-1 justify-center items-center">
						<a
							href=""
							class="border-negro-sazon w-12 md:w-[59px]">
							<img
								src="../resources/whatsapp.svg"
								alt="" />
						</a>
						<a
							href="#"
							class="border-negro-sazon w-10 md:w-[50px]">
							<img
								src="../resources/facebook2.svg"
								alt="" />
						</a>
						<a
							href=""
							class="hover:opacity-85 border-negro-sazon w-10 md:w-[50px] ml-1">
							<img
								src="../resources/instagram2.svg"
								alt="" />
						</a>
					</div>
				</div>
			</div>
			<!-- Fin contacto y redes sociales -->
		</footer>
	</body>
	<script>
		const item = document.querySelector(".acordeon");
		const visibles = document.querySelectorAll(".ocultar");

		item.addEventListener("click", function () {
			visibles.forEach((e) => {
				e.classList.toggle("hidden");
			});
		});
	</script>
</html>
