<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link href="../output.css" rel="stylesheet" />

		<!-- Título de la página -->
		<title>register</title>

		<!-- Enlaces para cargar las fuentes de Google Fonts -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet" />
	</head>
	<body class="">
		<div
			class="h-screen flex flex-col justify-center items-center">
			<div class="w-full bg-amarillo-sazon h-1/2"></div>
			<div class="w-full bg-negro-sazon h-1/2"></div>

			<div class="absolute">
				<div
					class="bg-negro-sazon w-[330px] py-5 flex justify-center rounded-t-md">
					<img
						class="w-28"
						src="../resources/logo_oficial.svg"
						alt="" />
				</div>
				<div
					class="w-[330px] p-7 shadow bg-white rounded-md">
					<form
						action=""
						class="flex flex-col gap-2">
						<div
							class="flex flex-col">
							<label
								for="name"
								class="text-negro-sazon text-sm"
								>Nombre</label
							>
							<input
								class="border border-gray-100 rounded p-2 text-gray-600 text-sm"
								type="text"
								name="name" />
						</div>

						<div
							class="flex flex-col">
							<label
								for="email"
								class="text-negro-sazon text-sm"
								>Correo
								electrónico</label
							>
							<input
								class="border border-gray-100 rounded p-2 text-gray-600 text-sm"
								type="text"
								name="email" />
						</div>
						<div
							class="flex flex-col">
							<label
								for="date"
								class="text-negro-sazon text-sm"
								>Fecha
								de
								nacimiento</label
							>
							<input
								class="border border-gray-100 rounded p-2 text-gray-600 text-sm w-full"
								type="date"
								name="date" />
						</div>
						<div
							class="flex flex-col">
							<label
								for="password"
								class="text-negro-sazon text-sm"
								>Contraseña</label
							>
							<input
								class="border border-gray-100 rounded p-2 text-gray-600 text-sm"
								type="password"
								name="password" />
						</div>

						<button
							class="p-2 bg-negro-sazon text-amarillo-sazon w-full mt-2 hover:opacity-80 rounded text-sm">
							Crear
						</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
