<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Metadatos del documento -->
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />

		<!-- Enlace al archivo de estilos CSS -->
		<link href="../output.css" rel="stylesheet" />

		<!-- Título de la página -->
		<title>navBar</title>

		<!-- Enlaces para cargar las fuentes de Google Fonts -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet" />
	</head>
	<body>
		<nav
			class="flex flex-col md:flex-row md:justify-around px-4 py-4 bg-negro-sazon text-amarillo-sazon-900">
			<section
				class="flex justify-between items-center">
				<img
					src="/src/resources/logoSDB.svg"
					alt=""
					class="h-9 cursor-pointer" />

				<button
					class="text-negro-sazon md:hidden">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-6 h-6 text-amarillo-sazon-900">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
					</svg>
				</button>
			</section>

			<section
				class="flex flex-col md:flex-row items-start mt-3 gap-1">
				<a
					href="#"
					class="w-full py-2 text-left px-2 rounded hover:bg-amarillo-sazon-900 hover:text-negro-sazon md:hover:bg-transparent md:hover:text-amarillo-sazon-800 capitalize md:font-medium">
					inicio
				</a>

				<a
					href="#"
					class="w-full py-2 text-left px-2 rounded hover:bg-amarillo-sazon-900 hover:text-negro-sazon md:hover:bg-transparent md:hover:text-amarillo-sazon-800 border-t md:border-none capitalize md:font-medium">
					recetas
				</a>
				<a
					href="#"
					class="w-full py-2 text-left px-2 rounded hover:bg-amarillo-sazon-900 hover:text-negro-sazon md:hover:bg-transparent md:hover:text-amarillo-sazon-800 border-t md:border-none capitalize md:font-medium">
					categorias
				</a>

				<a
					href="#"
					class="w-full py-2 text-left px-2 rounded hover:bg-amarillo-sazon-900 hover:text-negro-sazon md:hover:bg-transparent md:hover:text-amarillo-sazon-800 border-t md:border-none capitalize md:font-medium">
					configuración
				</a>
			</section>

			<section
				class="py-3 flex flex-col gap-2 justify-cente md:flex-row text-center">
				<a
					href="#"
					class="bg-amarillo-sazon-900 p-2 rounded hover:opacity-80 capitalize text-negro-sazon font-medium">
					iniciar sesión
				</a>
				<a
					href="#"
					class="bg-amarillo-sazon-900 p-2 rounded hover:opacity-80 capitalize text-negro-sazon font-medium">
					registrarse
				</a>
			</section>
		</nav>
	</body>
</html>
