<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Receta</title>
    <link href="../output.css" rel="stylesheet" />
</head>
<body class="bg-gray-100">

    <div class="mx-8 my-3">

            <div class="pt-2 flex flex-col items-center justify-center">
                <p class="m-3 text-md border-b-2 border-solid border-gray-950">Carne Guisada</p>
                <img class="w-full shadow-md" src="../img/Carne guisada.jpg" alt="Imagen de receta">
            </div>

            <div class="mt-8 pt-2 pb-32 px-10 flex flex-col items-center justify-center rounded-t-2xl border-b-60  border-red-700 bg-red-500">
                <h1 class="m-3 text-md">Ingredientes</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi beatae, fugiat in ea dignissimos praesentium pariatur facere. Officia, praesentium fugiat quis velit minus deserunt aliquam hic error! Quod, consequuntur quibusdam.
                </p>
            </div>

            <div class="pt-2 pb-8 px-10 flex flex-col items-center justify-center   border-b-1 border-x-1 border-red-500">
                <h1 class="m-3 text-md">Preparación</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis minima alias velit, nisi cumque eaque inventore odio unde sit adipisci ex distinctio aliquam asperiores soluta est voluptatem quidem, aliquid numquam.</p>
            </div>

            <div class="mt-4 py-6 px-6 flex flex-col items-center justify-around rounded-2xl bg-red-500">
                <div class="flex justify-between w-full">
                    <p>Autor: <span>JhonnyArevalo33</span></p>
                    <img src="../resources/star.svg" alt="" class="w-5 cursor-pointer"/>
                </div>
           
                <div class="flex mt-4 justify-between w-full">
                    <span class="text-[11px]">16/02/2024</span>

                    <div class="flex">
                        <img class="w-4" src="../resources/comment.svg" alt="logo-comentarios"/>
                        <p class="text-[11px]"><span>10</span> comentarios</p>
                    </div>   
                </div>
            </div>
            
            <p class="text-center pt-16">Recetas Relacionadas</p>

            
            
    
</body>
</html>